*{
    margin: 0;
    padding:0;
}
body{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal
}
h3{
    display: inline;
    margin-right: 30px;
}
.card{
    border: 3px solid black;
    padding: 20px;
    width: 300px;
}
.btn{
    padding: 3px 10px;
    box-shadow: 3px 3px;
    background-color: yellowgreen;
    margin-left: 230px;
}
#container{
    height: 600px;
    width: 800px;
    margin: 20px 0px 5px 200px;
    display: flex;
    gap: 20px;
}
.left-side{
    padding: 20px 10px;
    display: flex;
    flex-direction:column;
    width: 140px;
    height: 250px;
    border: 2px solid black;
}
.nav{
    width: 566px;
    background-color: black;
    color: white;
    height: 60px;
    margin:0px 0px 0px 200px;
    font-size: 40px;
    
}
h2{
    padding:  0px 0px 0px 430px;
    font-size: 35px;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.jane{
    width: 80px;
    position: relative;
    left: 30px;
    top: 20px;
    border-radius: 50%;
    border: 2px solid rgb(201, 201, 201);
}
.add, h4{
    text-align: center;
    margin-top: 60px;
}